*.apk
*.DS_Store
OrmoDroidApp/bin
OrmoDroidApp/gen
OrmoDroidTestTest/bin
OrmoDroidTestTest/gen
OrmoDroidCore/bin
OrmoDroidCore/gen
OrmoDroidApp/.classpath
OrmoDroidApp/.project
OrmoDroidApp/.settings
OrmoDroidTestTest/.classpath
OrmoDroidTestTest/.project
OrmoDroidTestTest/.settings
OrmoDroidCore/.classpath
OrmoDroidCore/.project
OrmoDroidCore/.settings

